#inventory {
	position: absolute;
	z-index: 10;
	background-image: url('../assets/ui/backpack.png');
	width: 238px;
	height: 336px;
	right: 238px;
	top: 999px;

	.i-move {
		position: absolute;
		height: 44px;
		width: 100%;
		top: 30px;
		left: 0;
	}

	.inventory-data {
		li {
			.items {
				li {
					position: absolute;
					left: 30px;
					top: 112px;
					width: 32px;
					height: 32px;
					text-align: center;
					@include no-select();

					a {
						display: block;
						width: $inventory-icon-size;
						height: $inventory-icon-size;
						@include no-select();

						img {
							width: $inventory-icon-size;
							height: auto;
							padding: $inventory-icon-padding;
							@include no-select();
							
							&:hover {
								cursor: pointer;
							}
						}

						&:hover {
							cursor: pointer;

							img {
								opacity: .25;
							}
						}
					}

					a.active {
						img {
							opacity: .25;
						}
					}
				}

				li:nth-child(1) { left: 30px; }

				li:nth-child(2) { left: 67px; }

				li:nth-child(3) { left: 105px; }

				li:nth-child(4) { left: 142px; }

				li:nth-child(5) { left: 179px; }

				li:nth-child(6) { top: 149px; left: 30px; }

				li:nth-child(7) { top: 149px; left: 67px; }

				li:nth-child(8) { top: 149px; left: 105px; }

				li:nth-child(9) { top: 149px; left: 142px; }

				li:nth-child(10) { top: 149px; left: 179px; }

				li:nth-child(11) { top: 186px; left: 30px; }

				li:nth-child(12) { top: 186px; left: 67px; }

				li:nth-child(13) { top: 186px; left: 105px; }

				li:nth-child(14) { top: 186px; left: 142px; }

				li:nth-child(15) { top: 186px; left: 179px; }

				li:nth-child(16) { top: 223px; left: 30px; }

				li:nth-child(17) { top: 223px; left: 67px; }

				li:nth-child(18) { top: 223px; left: 105px; }

				li:nth-child(19) { top: 223px; left: 142px; }

				li:nth-child(20) { top: 223px; left: 179px; }

				li:nth-child(21) { top: 260px; left: 30px; }

				li:nth-child(22) { top: 260px; left: 67px; }

				li:nth-child(23) { top: 260px; left: 105px; }

				li:nth-child(24) { top: 260px; left: 142px; }

				li:nth-child(25) { top: 260px; left: 179px; }
			}
		}
	}
}