.bottom-bar {
	position: absolute;
	bottom: 0;
	height: $menu-bar-height;
	width: 100%;
	background: url('../assets/ui/bar-background.jpg') repeat;

	.contain {
		display: table;
		height: 100%;
		position: relative;
	}

	.chat-input-wrapper, 
	.actions-wrapper,
	.my-coke {
		height: $menu-bar-height;
		display: table-cell;
		vertical-align: middle;
	}

	.chat-input-wrapper {
		width: 347px;

		.chat-input {
			height: 26px;
			width: 347px;
			border: 0;
			background-image: url('../assets/ui/chat-background.jpg');
			background-size: 100% 100%;
			padding: 0px 6px 2px 9px;
			box-sizing: border-box;
			font-weight: bold;
			font-size: 12px;

			&:focus {
				outline: 0;
			}
		}
	}

	.actions-wrapper {
		width: 205px;

		ul {
			margin-left: 13px;

			li {
				display: inline-block;
			}
		}

		.action-item {
			display: block;
			line-height: $menu-bar-height;
			background-image: url('../assets/ui/bar-actions-ui.png');
			background-repeat: no-repeat;
			background-position-y: center;
			width: 20px;
			height: $menu-bar-height;
		}

		#navigation {

		}

		#message {
			background-position-x: -21px;
		}

		#decibals {
    		background-position-x: -42px;
		}

		#backpack {
			background-position-x: -63px;
		}

		#catalogue {
			background-position-x: -84px;
		}

		#music {
			background-position-x: -105px;
		}

		#help {
			background-position-x: -126px;
		}

	}

	.my-coke {
		width: 109px;
		position: relative;

		img {
			position: absolute;
			width: 109px;
			height: 61px;
			bottom: 0;
			left: 0;
		}
	}
}