#navigation-ui  {
	position: absolute;
	z-index: 9;
	top: calc(42vh - 200px);
	right: 10%;
	border-radius: $nav-tab-radius;
	width: 309px;
	height: 404px;
	border: 1px solid #3f3426;
	background-color: #bd9060;
	background-image: url('../assets/ui/tileable-bg.png');
	background-repeat: repeat;
	padding: 6px;

	.nav-ui-title {
		position: relative;
	    padding-top: 5px;
	    padding-bottom: 10px;

		h3 {
			color: $nav-tab-active-bg-color;
			font-size: 12px;
			text-align: center;
			@include no-select();
		}

		.close {
			position: absolute;
			right: 0;
			top: 0;
			@include no-select();
		}
	}

	.nav-ui-tabs {
		li {
			@include no-select();
			font-family: 'Arial', sans-serif;
			font-size: 12px;
			font-weight: bold;
			display: inline-block;
			color: $nav-tab-color;	
			padding: 6px 0px;
			border-top-right-radius: $nav-tab-radius;
			border-top-left-radius: $nav-tab-radius;
			background-color: $nav-tab-bg-color;
			width: 99px;
			text-align: center;
			margin-bottom: 3px;
			position: relative;

			&:hover {
				cursor: pointer;
				background-color: $nav-tab-active-bg-color;
			}
		}

		li.selected {
			background-color: $nav-tab-active-bg-color;
			&:after {
				content: " ";
				position: absolute;
				background-color: $nav-tab-active-bg-color;
				height: 3px;
				width: 100%;
				bottom: -3px;
				left: 0;
			}
		}
	}

	.toggle {
		background-color: $nav-tab-active-bg-color;
		border-bottom-right-radius: $nav-tab-radius;
		border-bottom-left-radius: $nav-tab-radius;
		height: calc(100% - 59px);
	}

	.close {
		background-image: url('../assets/ui/close-x.png');
		width: 20px;
		height: 20px;
	}
}

.nav-content-wrapper {
	padding: 10px 4px 4px 4px;
}

#nav-user-studios {
	.nus-content {
		padding-top: 5px;
	}

	#show-active-studios {
		width: 40%;
	}

	#show-my-studios {
		width: 33%;
	}

	#nav-active-studios {
		li {
			padding-bottom: 4px;
			position: relative;

			.nav-name, .nav-go, .nav-count {
				font-family: $font-family;
				color: $font-color;
				font-size: 13.5px;
			}

			.nav-name {
				display: inline-block;
				margin-left: 10px;

				&:after {
					content: '';
					border-bottom: 1px dotted #775d47;
					position: absolute;
					bottom: 5px;
					left: 0;
					left: 20px;
    				width: 88%;
				}
			}

			.nav-go {
				position: absolute;
				right: 5px;
				bottom: 4px;
			}
		}
	}

	.nav-studio-list-wrapper {
		overflow-y: scroll;

		&::-webkit-scrollbar {
		    -webkit-appearance: none;
		    width: 7px;
		}
		&::-webkit-scrollbar-thumb {
		    border-radius: 4px;
		    background-color: rgba(0,0,0,.5);
		    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
		}

		&::-webkit-scrollbar-track {
      		background-color: #b37c49;
		}
		 
		&::-webkit-scrollbar-thumb {
		      background-color: #ecdec9;
		      border-radius: 4px;
		      border-color: #b37c49;
		}
		 
		&::-webkit-scrollbar-button {
		      background-color: #7c2929;
		}
		 
		&::-webkit-scrollbar-corner {
		      background-color: black;
		}
	}
}