.some {
	text-align: center;
}

$menu-bar-height: 47px;

/* INVENTORY */
$inventory-icon-size: 30px;
$inventory-icon-padding: 1px;

/* NAVIGATION */
$nav-tab-radius: 4px;
$nav-tab-color: #775d47;
$nav-tab-bg-color: #c5a68a;
$nav-tab-active-bg-color: #eddbc5;