.some {
	text-align: center;
}

$menu-bar-height: 47px;

/* BUTTONS */
$button-font-size: 10px;
$button-font-color: #fae9da;
$button-blue-bg: #294b6f;

/* INVENTORY */
$inventory-icon-size: 30px;
$inventory-icon-padding: 1px;

/* NAVIGATION */
$nav-tab-radius: 4px;
$nav-tab-color: #775d47;
$nav-tab-bg-color: #c5a68a;
$nav-tab-active-bg-color: #eddbc5;

/* INFOSTAND AND TEXT */ 
$furni-title-color: #8b8b8b;
$furni-title-size: 10px;
$room-title-color: #FFFFFF;